@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Monoton", cursive, sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
  font-size: 5em;
}
